.code {
  margin-bottom: 40px;
}

.code__title {
  margin: 0;
  margin-bottom: 10px;

  @media (max-width: 820px) {
    text-align: center;
  }
}

.code__codewars-link {
  display: block;
  max-width: 400px;
  opacity: 0.9;
  transition: opacity 200ms ease 0s;

  @media (max-width: 820px) {
    margin: auto;
    margin-bottom: 25px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.code__pre {
  margin: 0;
  margin-top: -10px;

  @media (max-width: 820px) {
    display: none;
  }
}

.code__code {
  padding: 0;
}

.hljs {
  position: relative;
}
