.projects {
  margin-bottom: 20px;
  padding-top: 20px;
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;

  @media (max-width: 1150px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 820px) {
    grid-template-columns: 1fr;
  }
}

.projects__item {
  text-align: center;
}

.projects__link {
  transition: opacity 300ms ease 0s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.projects__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

.projects__image {
  position: relative;
  width: 290px;
  height: 250px;
  margin: 0 auto;
}

.projects__image img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__text {
  display: block;
  margin-top: 16px;
  margin-bottom: 5px;
}
