@charset "UTF-8";
:root {
  --color-white: #ffffff;
  --color-dark-gray: #444440;
  --color-gray: #7e7e7b;
  --color-silver: #b9c9c7;
  --color-bisque: #f1dec8;
}

/* ------------------------------------*|
  #SCSS-variables
/*------------------------------------ */
/*
Style with support for rainbow parens
*/
.hljs {
  background: #474949;
  color: #d1d9e1;
}

.hljs-comment,
.hljs-quote {
  color: #969896;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition {
  color: #cc99cc;
}

.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #f99157;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #8abeb7;
}

.hljs-title,
.hljs-name,
.hljs-section,
.hljs-built_in {
  color: #b5bd68;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #ffcc66;
}

.hljs-section,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-attr,
.hljs-attribute {
  color: #81a2be;
}

.hljs-emphasis {
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  font: inherit;
  background: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.page {
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  color: var(--color-dark-gray);
  font-weight: 400;
  font-size: 16px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  background-color: var(--color-white);
}

img {
  max-width: 100%;
  /* чтобы картинка не стала больше чем её контейнер */
  height: auto;
  /* картинка сохраняет пропорции */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ------------------------------------*|
  #global classes
/*------------------------------------ */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  padding-top: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1150px) {
  .main {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    max-width: 800px;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 620px) {
  .main {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}

/* ------------------------------------*|
  #buttons
/*------------------------------------ */
.section__link {
  color: var(--color-dark-gray);
  font-weight: normal;
  text-decoration: underline;
}
.section__link:hover, .section__link:focus {
  text-decoration: none;
}

.section__title {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px 0;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .section__title {
    max-width: 280px;
  }
}
.section__title--border {
  position: relative;
  z-index: 1;
  background-color: var(--color-white);
  outline: 2px solid var(--color-dark-gray);
}
.section__title--bg {
  position: relative;
  background-color: var(--color-bisque);
}
@media (max-width: 1150px) {
  .section__title--bg {
    background-color: transparent;
    background-color: var(--color-white);
    outline: 2px solid var(--color-dark-gray);
  }
}
.section__title--bg::after, .section__title--bg::before {
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--color-dark-gray);
}
.section__title--bg::before {
  top: calc(50% - 2px);
  left: -100%;
}
.section__title--bg::after {
  top: calc(50% - 2px);
  right: -100%;
}
@media (max-width: 1150px) {
  .section__title--bg {
    margin-bottom: 15px;
  }
  .section__title--bg::before, .section__title--bg::after {
    display: none;
  }
}
.section__title--central {
  position: relative;
  background-color: var(--color-bisque);
}
.section__title--central::after, .section__title--central::before {
  position: absolute;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--color-dark-gray);
}
.section__title--central::before {
  top: calc(50% - 2px);
  left: -100%;
}
.section__title--central::after {
  top: calc(50% - 2px);
  right: -100%;
}
@media (max-width: 1150px) {
  .section__title--central::after, .section__title--central::before {
    width: 70%;
  }
  .section__title--central::before {
    left: -70%;
  }
  .section__title--central::after {
    right: -70%;
  }
}
@media (max-width: 750px) {
  .section__title--central::after, .section__title--central::before {
    width: 50%;
  }
  .section__title--central::before {
    left: -50%;
  }
  .section__title--central::after {
    right: -50%;
  }
}
@media (max-width: 620px) {
  .section__title--central::after, .section__title--central::before {
    width: 30%;
  }
  .section__title--central::before {
    left: -30%;
  }
  .section__title--central::after {
    right: -30%;
  }
}
@media (max-width: 500px) {
  .section__title--central::after, .section__title--central::before {
    display: none;
  }
}

.section__text {
  margin: 0;
  color: var(--color-gray);
}

.section__text + .section__text {
  margin-top: 10px;
}

.section__list {
  margin: 0;
  padding: 0;
}

.section__item {
  font-weight: bold;
  text-transform: uppercase;
}

.section__item + .section__item {
  margin-top: 15px;
}

.header {
  padding: 40px;
  background-color: var(--color-silver);
}
@media (max-width: 520px) {
  .header {
    padding: 30px 20px;
  }
}

.header__title-box {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--color-silver);
  text-align: center;
  background-color: var(--color-white);
  outline: 10px solid var(--color-white);
}
@media (max-width: 630px) {
  .header__title-box {
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 520px) {
  .header__title-box {
    width: auto;
    margin-right: 40px;
    padding: 20px;
  }
}

.header__title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--color-dark-gray);
  font-size: 25px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (max-width: 530px) {
  .header__title {
    margin-bottom: 5px;
    font-size: 15px;
    letter-spacing: 2px;
  }
}
@media (max-width: 330px) {
  .header__title {
    font-size: 13px;
  }
}

.header__subtitle {
  margin: 0;
  color: var(--color-gray);
  font-size: 16px;
  font-family: "PT Serif", serif;
}
@media (max-width: 500px) {
  .header__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 330px) {
  .header__subtitle {
    font-size: 14px;
  }
}

.navigation {
  margin-bottom: 40px;
}
@media (max-width: 520px) {
  .navigation {
    margin-bottom: 0;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation__item + .navigation__item {
  margin-left: 10px;
}

.navigation__link {
  display: block;
  padding: 5px;
  color: var(--color-dark-gray);
  font-size: 18px;
  text-transform: uppercase;
  transition: color 200ms ease 0s;
}
.navigation__link:hover, .navigation__link:focus {
  color: #f5f378;
}
@media (max-width: 750px) {
  .navigation__link {
    font-size: 14px;
  }
}

/* ------------------------------------*|
  #toggle
/*------------------------------------ */
@media (max-width: 520px) {
  .navigation--closed .navigation__list {
    display: none;
  }
}

@media (max-width: 520px) {
  .navigation--opened .navigation__list {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 320px;
    padding: 30px 0;
    background-color: var(--color-silver);
  }
}
@media (max-width: 520px) {
  .navigation--opened .navigation__list .navigation__item + .navigation__item {
    margin-left: 0;
  }
}

.navigation__toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
@media (min-width: 520px) {
  .navigation--closed .navigation__toggle::before {
    display: none;
  }
}

.navigation--opened .navigation__toggle {
  top: 15px;
}
.navigation--opened .navigation__toggle::before, .navigation--opened .navigation__toggle::after {
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  content: "";
}
.navigation--opened .navigation__toggle::before {
  transform: rotate(45deg);
}
.navigation--opened .navigation__toggle::after {
  top: -2px;
  transform: rotate(-45deg);
}
@media (min-width: 520px) {
  .navigation--opened .navigation__toggle {
    display: none;
  }
}

.photo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 50%;
  overflow: hidden;
}
@media (max-width: 1150px) {
  .photo {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 0;
  }
}
@media (max-width: 620px) {
  .photo {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

.photo img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120%;
  height: 120%;
}

.contacts {
  padding-top: 30px;
  padding-left: 20px;
}
@media (max-width: 1150px) {
  .contacts {
    grid-row: 1/3;
    grid-column: 2/3;
    padding-top: 55px;
  }
}
@media (max-width: 620px) {
  .contacts {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 280px;
    margin: 0 auto;
    padding-top: 0;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__item:hover a, .contacts__item:focus a {
  opacity: 0.6;
}
.contacts__item::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.contacts__item--mail::before {
  height: 16px;
  background-image: url("../img/icons/icon-mail.svg");
}
.contacts__item--tel::before {
  background-image: url("../img/icons/icon-tel.svg");
}
.contacts__item--address::before {
  background-image: url("../img/icons/icon-address.svg");
}
.contacts__item--github::before {
  background-image: url("../img/icons/icon-gitHub.svg");
}
.contacts__item--telegram::before {
  background-image: url("../img/icons/icon-telegram.svg");
}
.contacts__item--discord::before {
  background-image: url("../img/icons/icon-discord.svg");
}

.contacts__item a {
  transition: opacity 200ms ease 0s;
}

@media (max-width: 620px) {
  .education {
    grid-row: 4/5;
    grid-column: 1/2;
  }
}

@media (max-width: 620px) {
  .knowledge {
    grid-row: 5/6;
    grid-column: 1/2;
  }
}

.knowledge__list {
  text-align: center;
}

@media (max-width: 620px) {
  .skills {
    grid-row: 6/7;
    grid-column: 1/2;
  }
}

.skills__list {
  text-align: center;
}

.experience {
  grid-column: 1/-1;
}

.projects {
  margin-bottom: 20px;
  padding-top: 20px;
}

.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}
@media (max-width: 1150px) {
  .projects__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 820px) {
  .projects__list {
    grid-template-columns: 1fr;
  }
}

.projects__item {
  text-align: center;
}

.projects__link {
  transition: opacity 300ms ease 0s;
}
.projects__link:hover, .projects__link:focus {
  opacity: 0.8;
}

.projects__title {
  margin: 0;
  margin-bottom: 10px;
}

.projects__image {
  position: relative;
  width: 290px;
  height: 250px;
  margin: 0 auto;
}

.projects__image img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.code {
  margin-bottom: 40px;
}

.code__title {
  margin: 0;
  margin-bottom: 10px;
}
@media (max-width: 820px) {
  .code__title {
    text-align: center;
  }
}

.code__codewars-link {
  display: block;
  max-width: 400px;
  opacity: 0.9;
  transition: opacity 200ms ease 0s;
}
@media (max-width: 820px) {
  .code__codewars-link {
    margin: auto;
    margin-bottom: 25px;
  }
}
.code__codewars-link:hover, .code__codewars-link:focus {
  opacity: 0.8;
}

.code__pre {
  margin: 0;
  margin-top: -10px;
}
@media (max-width: 820px) {
  .code__pre {
    display: none;
  }
}

.code__code {
  padding: 0;
}

.hljs {
  position: relative;
}

.footer {
  padding: 20px 0;
  background-color: var(--color-bisque);
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__gitHub-link {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-image: url(../img/icons/icon-gitHub.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 200ms ease 0s;
}
.footer__gitHub-link:hover, .footer__gitHub-link:focus {
  opacity: 0.6;
}

.footer__date {
  margin-left: 40px;
}
@media (max-width: 400px) {
  .footer__date {
    margin-left: 20px;
  }
}

.rs-school__logo {
  transition: opacity 200ms ease 0s;
}
.rs-school__logo:hover, .rs-school__logo:focus {
  opacity: 0.6;
}